<launch>
  <node pkg="operation_control" type="action_coordinator.py" name="action_coordinator" output="screen" />
  <node pkg="operation_control" type="arm_controller.py" name="arm_controller" output="screen" />
  <node pkg="operation_control" type="frame_transformer.py" name="frame_transformer" output="screen" />
  <node pkg="operation_control" type="gripper_controller.py" name="gripper_controller" output="screen" />
</launch>
